{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Meu Site{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      Olá, {{ user.username }} |
      <a href="{% url 'login:conta' %}">Minha Conta</a> |
        <a href="{% url 'login:candidatos' %}">Candidatos</a> |
      <a href="{% url 'login:vagas' %}">Vagas</a> |
      <a href="{% url 'login:logout' %}">Sair</a>
    {% endif %}
  </nav>
  <div class="container">
    {% for msg in messages %}
      <div class="message {{ msg.tags }}">{{ msg }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentTheme = localStorage.getItem('theme');

        if (currentTheme) {
            document.body.classList.add(currentTheme);
        } else {
            // Tema padrão é claro (light-mode)
            document.body.classList.add('light-mode');
            localStorage.setItem('theme', 'light-mode');
        }
    });
  </script>
</body>
</html>


